<header>
    <nav class="dt w-100 border-box pa3 ph5-ns">
      <a class="dtc v-mid mid-gray link dim w-25" href="{{ site.baseurl }}/" title="{{ site.title }}">
        {{ site.title }}
      </a>
      <div class="dtc v-mid w-75 tr">
        {% for my_page in site.pages %}
          {% if my_page.title %}
          <a class="link dim dark-gray f6 f5-ns dib mr3 mr4-ns" href="{{ my_page.url | prepend: site.baseurl }}" title="{{ my_page.title }}">{{ my_page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>
</header>
