<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">

        <article class="pa3 pa5-ns">
          <h1 class="f2">Exploring Dependencies of Front End Frameworks</h1>

          <p class="measure lh-copy">
            With the fast approaching release of Angular 2 and with the vast amount of data
            about open source projects that <a href="https://libraries.io">libraries.io</a> has collected. I thought it would be interesting to
            examine the dependencies of the most popular open source front end frameworks.
          </p>
          <p class="measure lh-copy">
            Below is a bar chart showing the number of dependencies of angular, angular2 and react.
          </p>

          <canvas id="numOfDepsChart" width="400" height="400"></canvas>

          <p class="measure lh-copy">
            As you can see angular 2 has far more dependencies that the other 2, but why is that?
            Turns out this is because angular 2 use npm shrinkwrap to
            lock down there dependencies. Read more about shinkwrap <a href="https://docs.npmjs.com/cli/shrinkwrap">here</a>
          </p>
        </article>

        <script>
        Chart.defaults.global.legend.display = false;
        Chart.defaults.global.tooltips.enabled = false;
        var myChart = new Chart(document.getElementById("numOfDepsChart"), {
            type: 'bar',
            label: 'Number of Dependencies',
            data: {
                labels: ["angular", "angular2", "react"],
                datasets: [{
                    data: [126, 866, 86],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        });
        </script>
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
