---
layout: default
---

<article class="pa3 pa5-ns">
  <h1 class="f2 f-subheadline-ns mb4">{{ page.title }}</h1>
  <p class="gray f6 mb4 ttu tracked">
    <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
    {% if page.author %} •
    <span itemprop="author" itemscope itemtype="http://schema.org/Person">
      <span itemprop="name">{{ page.author }}</span>
    </span>
    {% endif %}
  </p>
  <p class="f4 f3-ns measure lh-copy">
    {{ content }}
  </p>
</article>
